.alert-overlap-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.315);
    font-size: 10vh;
    color: white;
    margin: 0;
    padding: 0;
}
