.screen-overlay {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 70vw;
    height: 100vh;
    z-index: 997;
    background-color: #000000cc;
    margin-left: 30vw;
}

/***** MAIN CONTAINER *****/

.checkout-container {
    background-color: #161617;
    color: #e9e9e9;
    height: 70vh;
    width: 60vw;
    margin: 0 auto;
    z-index: 998;
    border-radius: 5px;
    display: flex;
}
/*Left  containers-------------------------------*/

.left-checkout-container{
    max-width: 26.3vw;
}

/***** HEADER *****/

.checkout-header {
    height: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkout-header > div > i {
    font-size: 180%;
    padding-top: 2vh;
    padding-left: 0.5vw;
}

/***** BODY *****/

.checkout-body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
}

/****** TOTAL BOXES ON TOP ******/

.checkout-totals {
    display: flex;
    justify-content: center;
    min-height: 12vh;
    width: 100%;
}

.totals-box {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.totals-box-description {
    height: 25%;
}

.totals-balance-due {
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 180%;
    font-weight: 500;
}

.totals-amount {
    background: #464545;
    height: 60%;
    margin-top: 1vh;
    text-align: right;
}

/******* mid-checkout-container *******/

.checkout-keypad {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    align-content: space-evenly;
    flex-wrap: wrap;
    height: 45vh;
    width: 95%;
}

/******** BOTTOM CONTAINER ********/

.checkout-tender {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 8vh;
    max-width: 93%;
    padding-top: 3.5vh;
    
}

/******* BUTTONS ********/

.checkout-btn {
    height: 11vh;
    width: 8vw;
    background-color: #22222271;
    color: #e9e9e9;
    font-size: 5vh;
    border: 1px solid #6b6b6bc9;
    border-radius: 1px;
    outline: none;
    margin-top: 0.5vh;
    -webkit-box-shadow: 0px 0px 7px 1px rgba(70, 69, 69, 0.103);
-moz-box-shadow: 0px 0px 7px 1px rgba(70, 69, 69, 0.103);
box-shadow: 0px 0px 7px 1px rgba(70, 69, 69, 0.103);
}

.checkout-btn:active{
    background-color: #4b4a4a4d;
    border: 1px solid #6b6b6bd2;
}

.bottom-btn {
    height: 8vh;
    width: 12vw;
    border: none;
    background-color: #515151;
    color: #f1f1f1;
    box-shadow: -1px -1px 3px 0px rgba(0, 0, 0, 0.37);
    border-radius: 1px;
    outline: none;
    margin-left: 0.1vw;
    margin-right: 0.1vw;
}


.bottom-btn:active {
    background-color: #4d4d4d;
    color: rgb(204, 202, 202);
}

#checkout-btn-ok{
    border: 1px solid #4d4d4d;
    border-radius: 1px;
}
#checkout-btn-close{
    background-color: #9b7530
}

/*RIGHT CONTAINER ------------------------*/
.right-checkout-container{
    display: flex;
    align-content: center;
    justify-content: center;
    max-width: 33vw;
    padding-left: 1vw;
    padding-top: 3vh;
}

.tender-container{
    text-align: center;
    max-width: 11vw;
}
.tender-container-heading{
    font-size: 2.7vh;
    padding-bottom: 4.32vh;
    margin-top: 3vh;
    color: #b1b3b5

}
.tender-container > button {
    min-width: 9vw;
    min-height: 7vh;
    margin-top: 1vh;
    border: none;
    border-radius: 1px;
    background-color: #464545;
    color: #C7C7C7;
    font-size: 1.8vh;
}