.subtotal-container, .discount-container, .tax-container{
    display: flex;
    justify-content: space-between;
    margin-left: 0.7vw;
    margin-right: 2vw;
}

.complete-total-container{
    float: right;
    margin-right: 1.6vw;
    font-size: 5vh;
    margin-top: 5vh;
    color:#E7E7E7;
}