.screen-overlay {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 997;
    background-color: #0000009a;
}

.checkout-container {
    background-color: #000000be;
    color: #ffffff;
    height: 80vh;
    width: 28vw;
    margin-left: 30vw;
    z-index: 998;
    border-radius: 5px;
}

.checkout-header {
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkout-header > div > i {
    font-size: 180%;
    padding-top: 1vh;
    padding-left: 2vw;
}

.hidden-icon {
    visibility: hidden;
}

.checkout-body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
}

.checkout-totals {
    display: flex;
    justify-content: space-evenly;
    height: 15%;
    width: 100%;
    background-color: red;
}

.totals-box {
    height: 100%;
    width: 30%;
    background-color: green;
    text-align: center;
}

.checkout-keypad {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 55%;
    width: 100%;
    background-color: blue;
}

.checkout-btn {
    height: 25%;
    width: 7vw;
}
