.screen-overlay {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 997;
    background-color: #0000009a;
}

.checkout-container {
    background-color: #161617;
    color: #e9e9e9;
    height: 80vh;
    width: 28vw;
    margin-left: 30vw;
    z-index: 998;
    border-radius: 5px;
}

.checkout-header {
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkout-header > div > i {
    font-size: 180%;
    padding-top: 1vh;
    padding-left: 2vw;
}

.hidden-icon {
    visibility: hidden;
}

.checkout-body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
}

.checkout-totals {
    display: flex;
    justify-content: space-between;
    height: 15%;
    width: 100%;
}

.totals-box {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.totals-box-description {
    height: 25%;
}

.totals-balance-due,
.totals-amount,
.totals-tip {
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 180%;
    font-weight: 500;
}

.totals-amount {
    background: #464545;
    height: 60%;
    margin-top: 1vh;
    text-align: right;
}

.checkout-keypad {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    align-content: space-evenly;
    flex-wrap: wrap;
    height: 55%;
    width: 100%;
}

.checkout-btn {
    height: 23%;
    width: 6.6vw;
    background-color: #161617;
    color: #e9e9e9;
    font-size: 150%;
    border: 1px solid #6b6b6b;
    border-radius: 5px;
}
