/*Items Body*/
.item-bdy-list {
    display: flex;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    margin-left: 0.3vw;
    margin-right: 0.3vw;
    min-height: 6vh;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.281);
    border-radius: 1px;
    color: rgba(255, 255, 255, 0.788);
}

.active-itm {
    background-color: rgba(245, 245, 245, 0.425);
    border-left: 2px solid rgba(219, 12, 12, 0.89);
    color: rgba(0, 0, 0, 0.801);
    transition: all 0.3s;
}

.item-bdy-info {
    display: flex;
}
.item-bdy-name,
.item-bdy-qty,
.item-bdy-unit,
.item-bdy-amount {
    font-size: 1.7vh;
    font-weight: 500;
}
.item-bdy-name {
    min-width: 8.5vw;
    padding-left: 0.7vw;
    margin-right: 0.8vw;
}
.item-bdy-qty,
.item-bdy-unit,
.item-bdy-amount {
    min-width: 7vw;
    text-align: center;
}
