.img-container {
    height: 20vh;
    width: 13.3vw;
}

.img-container:active {
    transition: all 0.0001s;
    transform: scale(0.999999);
}

.img-div {
    height: 97%;
    width: 98%;
    background: rgba(255, 255, 255, 0.541);
}

.img-div:hover {
    cursor: pointer;
}

.img-div > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.img-overlay {
    position: relative;
    background-color: #00000091;
    color: white;
    z-index: 996;
    height: 40%;
    margin-top: -8vh;
    width: 98%;
    padding: 0 20%;
    text-align: center;
    font-size: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px -4px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -4px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -4px 15px 0px rgba(0, 0, 0, 0.75);
}
.img-overlay:hover {
    cursor: pointer;
}
