
#btn-0 {
    background-color: #37c09b;
}
#btn-1 {
    background-color: #88242c;
}
#btn-2 {
    background-color: #4a133a;
}
#btn-3 {
    background-color: #2b645d;
}
#btn-4 {
    background-color: #134385;
}
#btn-5 {
    background-color: #902f74;
}
#btn-6 {
    background-color: #1f4143;
}
#btn-7 {
    background-color: #a15d2c;
}
#btn-8 {
    background-color: #505050;
}

#btn-9 {
    background-color: #91924c;
}
#btn-10 {
    background-color: #68a19b;
}
#btn-11 {
    background-color: #786fa6;
}
#btn-12 {
    background-color: #ff4181;
}
#btn-13 {
    background-color: #e8c972;
}
#btn-14 {
    background-color: #11976f;
}
#btn-15 {
    background-color: #f3a683;
}
#btn-16 {
    background-color: #b2f2ff;
}
#btn-17 {
    background-color: #ffac12;
}
