html {
    margin: 0px;
    padding: 0%;
}
body {
    margin: 0px;
    padding: 0%;
}

.floater-left {
    float: left;
}

/***************TOP  CONTAINER******************/

/*top wide container*/
.top-wide-container {
    width: 100vw;
    height: 6vh;
    background-color: #191919;
}
.info-bar {
    height: 2vh;
    background-color: #0c0c0c;
    box-shadow: -1px -2px 6px 0px rgba(175, 172, 172, 0.507);
    box-shadow: inset -1px -2px 6px 0px rgba(175, 172, 172, 0.042);
    z-index: 1;
    text-align: center;
    font-size: 1.5vh;
    color: #d4d4d4;
    font-weight: 600;
}
.info-panel {
    display: flex;
    justify-content: space-between;
    align-items: center

}
.logout-btn-container{
    padding-left: 1vw;
}
.logedin-user{
    display: flex;
    justify-content: flex-end;
     padding-right: 1vw;
     font-size: 1.8vh;
     font-weight: 500;
     color: #d4d4d4;

}

.logout-btn {
    border: 2px solid #f1f1f1af;
    min-height: 3.4vh;
    background-color: #0c0c0c00;
    min-width: 5vw;
    color: #f1f1f1af;
    margin-top: 0.3vh;
    border-radius: 2px;
    font-size: 1.7vh;
}
.logout-btn:active {
    color: #f1f1f1;
    background-color: #5c5c5c71;
}

.info-logo{
    font-size:3vh;
    color: #f1f1f1a1;
}
/***************Bottom  CONTAINER******************/
.bottom-wide-container {
    width: 100vw;
    height: 94vh;
    background-color: blue;
}

/*Check Info*/
.main-left-container {
    width: 30vw;
    height: 94vh;
    background-color: #2d2d2d;
}
.upper-buttons-container{
    display: flex;
    height: 6vh;
    width:30vw;
    padding-top: 1vh;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    align-items: center;
    justify-content: space-around
}
.btn-top{
    min-width: 7vw;
    min-height: 5vh;
    border: none;
    background-color: #515151;
    color: #f1f1f1;
    font-size: 1.9vh;
    box-shadow: -1px -1px 3px 0px rgba(0, 0, 0, 0.37);
    border-radius: 1px;
}
.btn-top:active{
    background-color: #4d4d4d;
    color: rgb(204, 202, 202);
}

.item-container{
    border: 2px solid red;
    height: 60vh;
}
.item-list-header, .item-info{
    display: flex;
}
.item-list-header{
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
}
.item-name, .item-qty, .item-unit, .item-amount{
    color: #585858;
    font-size: 2vh;
    font-weight: 600;
}
.item-name{
    padding-right: 6vw;
}
.item-qty, .item-unit, .item-amount{
    padding-left: 2vw;
    min-width: 6vw;
    text-align: center;
}
/*Menu Info*/
.main-right-container {
    width: 100vw;
    height: 94vh;
    background-color: rgb(87, 110, 87);
}
